body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-image: linear-gradient(to top right, rgb(45, 62, 97), rgb(33, 46, 73));
  text-align: center;
  color: white;
  letter-spacing: 2px;
}

/*----------Header Section----------*/
.header{
  display: flex;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 10px;
  width: 45%;
  margin: auto;
  margin-top: 30px;
  justify-content: space-between;
  padding: 20px;
}

.score {
  background-color: white;
  width: 20%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.score > h6, h1{
  margin-top: 0px;
  margin-bottom: 0px;
}

.score > h6{
  color: rgb(11, 76, 124);
  font-weight: 400;
}

.score > h1 {
  color: rgb(98, 98, 98);
  font-size: 3em;
}

h4 {
  display: none;
}

/*----------Rules Section----------*/

.rules-container {
  text-align: right;
  margin: 40px 30px 0 0;
}

.rules-image-container {
  position: absolute;
  left: 33%;
}

.rules-image {
  display: none;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  width: 300px;
  padding: 50px;
}

/*----------Buttons ----------*/

.rules-button {
  width: 85px;
  background-color: rgb(33, 46, 73);
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px;
  cursor: pointer;
}

.play-again-button {
  width: 120px;
  background-color: white;
  border: 1px solid white;
  color: rgb(20, 30, 51);
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.game-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.paper, .rock, .scissors {
  background-color: white;
  border-radius: 100px;
  width: 100px;
  height: 100px;
}

.hand > img {
  margin-top: 25px;
}

.hand > img.paper-button {
  margin-top: 20px;
}

.paper {
  border: 10px solid rgb(64, 69, 185);
}

.rock {
  border: 10px solid rgb(177, 27, 27);
}

.scissors {
  border: 10px solid rgb(244, 199, 41);
}

.paper-button, .scissors-button, .rock-button {
  cursor: pointer;
}

.triangle {
  margin-top: 60px;
}

.triangle > img{
  width: 60%;
}

.hands-container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: 180px 120px;
  justify-content: center;
  margin-top: 60px;
  z-index: -1;
}

.rock {
  grid-column: 2 / 3;
  grid-row: 2 / 2;
}

.scissors{
  grid-column: 3 / 4;
  grid-row: 1 / 1;
}

.paper {
  grid-column: 1 / 2;
  grid-row: 1 / 1;
}

.triangle {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.game-section {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-auto-rows: 200px;
}

.person-side {
  display: none;
  background-color: white;
  border-radius: 150px;
  width: 150px;
  height: 150px;
  border: 20px solid rgb(177, 27, 27);
  justify-self: end;
  align-self: end;
}

.computer-side {
  display: none;
  background-color: white;
  border-radius: 170px;
  width: 150px;
  height: 150px;
  border: 20px solid rgb(177, 27, 27);
  justify-self: start;
  align-self: end;
}

.info-text{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50px;
  grid-gap: 6em;
  margin: 40px 0 40px 0;
}

.player-info {
  justify-self: end;
  margin-right: 130px;
}

.player-image, .computer-image {
  margin-top: 30px;
  width: 50%;
}

.computer-info {
  justify-self: start;
  margin-left: 100px;
}

.text {
  display: none;
  padding-top: 70px;
}

/*------- Footer -------*/
.attribution {
  margin-top: 60px;
  font-size: 11px;
}


.attribution a {
  text-decoration: none;
  color: white;
}
